@import './colors.sass';
@import './_themes.scss';
@import './fonts/_fonts.scss';

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'DrukWideCy';
}

p {
    margin: 0;
    font-family: 'DrukWideCy';
}

button {
    outline: 0;
    border: 0;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-wrapper__column {
    @include themify($themes) {
        color: themed('mainColor');
    }

    width: 70%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    .main-wrapper__content {
        width: calc(100% - 11vw - 5vw);
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-top: 5vw;
        flex: auto;

        h2 {
            font-family: 'DrukWideCy';
            margin: 0.3rem 0;
            font-size: 3vh;
        }

        p {
            font-family: 'RF-Rostin';
            font-size: 2.4vh;
        }
    }
}

@media only screen and (max-width: 900px) {
    .main-wrapper__content {
        justify-content: center;
        width: 100% !important;
        margin-top: 0 !important;
    }
    .additional-content__button-group button {
        font-size: 2.6vw;
    }

    .additional-content__icon-button {
        align-self: flex-end;
        height: 5vh;
        width: 5vh;
        min-width: 5vh;
    }
}

@media only screen and (max-width: 600px) {
    html,
    body,
    #root {
        width: 100vw;
        height: 100%;
    }

    .main-wrapper__content {
        p {
            font-size: 3.1vw !important;
        }
    }

    .additional-content__button-group button {
        margin-right: 0;
        &:first-child {
            margin-bottom: 1vh;
        }
        font-size: 2vh;
    }
}
