@font-face {
    font-family: 'DrukWideCy';
    src: url('./DrukWideCy-Bold-Desktop.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Epos';
    src: url('./Epos-Normal-Trial.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RF-Rostin';
    src: url('./RF-Rostin-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
